* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
  
}

body {
  background-color: rgb(205, 227, 255);
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}

.buttons-coll {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-1 {
  border: 2px solid #ff5e00;
  color: #ff5e00;
}
.btn-1:hover {
  background: #ff5e00;
  color: #fff;
}
.btn-1:active {
  top: 2px;
}

.done-button, .delete-button, .update-button {
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-2 {
  border: 2px solid rgb(243, 237, 188);
  color: rgb(243, 237, 188);
}
.btn-2:hover {
  background: #fff;
  color: #ff5e00;
}
.btn-2:active {
  top: 2px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  color:rgba(9, 29, 19);
  background-color: rgba(255, 133, 62, 0.932);
  border: 0px rgb(175, 255, 173) solid;
  border-radius: 0%;
  padding: 10%;
  box-sizing: border-box;
  /* width: 300px;
  height: 400px; */
  padding: 10px;
  margin: 10px;
  
}

h1, h2{
  color: rgb(255, 94, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 2%; 
  text-shadow: 0px 3px 0px rgb(243, 237, 188),
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
  font-family: 'Helvetica Neue', sans-serif;
  
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1;
  margin: 0;

  

  
  
}


@media only screen and (max-width: 800px) {
  task {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  img {
    flex-basis: 100%;
    max-width: 100%;
  }
}

form {
  /* border: 2px black solid; */
  align-items: center;
  margin: 0 auto;
  width: 500px;
  padding: 30px;
  background-color: rgba(9, 29, 19, 0.849);
  color: rgb(255, 133, 62);
  text-align:center;
}

date {
  width: 70px;
}

#headerImage {
  width: 100%;
}

footer {
  color: rgb(39, 38, 38);
}

/* #logo {
  width: 50%;
}

#names {
  width: 50px;
}

#dueDate {
   width: 50px;
} */


#desctextarea {
background-color: rgb(243, 237, 188);
height:80px;
width:270px;
border:0px;

}

.parallax {
  background-color: rgb(255, 133, 62);
  background-image: url(../images/supermarketBG.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}